<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.2</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{944.0,894.0}</string>
        <key>name</key>
        <string>loader</string>
        <key>textureFileName</key>
        <string>loader.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>made-with-zwoptex</key>
        <dict>
            <key>spriteSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{228.0,228.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{453.0,151.0},{228.0,228.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>piagetLogo.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{449.0,449.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{449.0,449.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{449.0,449.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,151.0},{449.0,449.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>portalLogo.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{938.0,147.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{938.0,147.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{938.0,147.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,2.0},{938.0,147.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>progressFeedback0002.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{146.0,143.0}</string>
            <key>spriteOffset</key>
            <string>{-2.0,2.0}</string>
            <key>spriteSourceSize</key>
            <string>{150.0,147.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{146.0,143.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{446.0,671.0},{146.0,143.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
                <string>progressFeedback0001.png</string>
            </array>
        </dict>
        <key>progressFeedback0004.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{146.0,143.0}</string>
            <key>spriteOffset</key>
            <string>{-2.0,2.0}</string>
            <key>spriteSourceSize</key>
            <string>{150.0,147.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{146.0,143.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,747.0},{146.0,143.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
                <string>progressFeedback0003.png</string>
            </array>
        </dict>
        <key>progressFeedback0006.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{146.0,143.0}</string>
            <key>spriteOffset</key>
            <string>{-2.0,2.0}</string>
            <key>spriteSourceSize</key>
            <string>{150.0,147.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{146.0,143.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{453.0,381.0},{146.0,143.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
                <string>progressFeedback0005.png</string>
            </array>
        </dict>
        <key>progressFeedback0007.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{146.0,143.0}</string>
            <key>spriteOffset</key>
            <string>{-2.0,2.0}</string>
            <key>spriteSourceSize</key>
            <string>{150.0,147.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{146.0,143.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{453.0,526.0},{146.0,143.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
                <string>progressFeedback0008.png</string>
            </array>
        </dict>
        <key>progressFeedback0009.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{146.0,143.0}</string>
            <key>spriteOffset</key>
            <string>{-2.0,2.0}</string>
            <key>spriteSourceSize</key>
            <string>{150.0,147.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{146.0,143.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,602.0},{146.0,143.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
                <string>progressFeedback0010.png</string>
            </array>
        </dict>
        <key>progressFeedback0012.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{146.0,143.0}</string>
            <key>spriteOffset</key>
            <string>{-2.0,2.0}</string>
            <key>spriteSourceSize</key>
            <string>{150.0,147.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{146.0,143.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{150.0,602.0},{146.0,143.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
                <string>progressFeedback0011.png</string>
            </array>
        </dict>
        <key>progressFeedback0014.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{146.0,143.0}</string>
            <key>spriteOffset</key>
            <string>{-2.0,2.0}</string>
            <key>spriteSourceSize</key>
            <string>{150.0,147.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{146.0,143.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{298.0,602.0},{146.0,143.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
                <string>progressFeedback0013.png</string>
            </array>
        </dict>
    </dict>
</dict>
</plist>
