<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JoystickBackGround.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,179}</string>
                <key>spriteSourceSize</key>
                <string>{179,179}</string>
                <key>textureRect</key>
                <string>{{199,351},{179,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JoystickStick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{728,488},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_lateral0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{197,129}</string>
                <key>spriteSourceSize</key>
                <string>{197,139}</string>
                <key>textureRect</key>
                <string>{{204,220},{197,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_lateral0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{197,129}</string>
                <key>spriteSourceSize</key>
                <string>{197,139}</string>
                <key>textureRect</key>
                <string>{{204,220},{197,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_lateral0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{197,129}</string>
                <key>spriteSourceSize</key>
                <string>{197,139}</string>
                <key>textureRect</key>
                <string>{{204,220},{197,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_lateral0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{195,135}</string>
                <key>spriteSourceSize</key>
                <string>{197,139}</string>
                <key>textureRect</key>
                <string>{{2,345},{195,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_lateral0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{195,135}</string>
                <key>spriteSourceSize</key>
                <string>{197,139}</string>
                <key>textureRect</key>
                <string>{{2,345},{195,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_lateral0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{193,139}</string>
                <key>spriteSourceSize</key>
                <string>{197,139}</string>
                <key>textureRect</key>
                <string>{{505,256},{193,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_lateral0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{193,139}</string>
                <key>spriteSourceSize</key>
                <string>{197,139}</string>
                <key>textureRect</key>
                <string>{{505,256},{193,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_lateral0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{193,139}</string>
                <key>spriteSourceSize</key>
                <string>{197,139}</string>
                <key>textureRect</key>
                <string>{{505,256},{193,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_lateral0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{195,135}</string>
                <key>spriteSourceSize</key>
                <string>{197,139}</string>
                <key>textureRect</key>
                <string>{{2,345},{195,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_lateral0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{195,135}</string>
                <key>spriteSourceSize</key>
                <string>{197,139}</string>
                <key>textureRect</key>
                <string>{{2,345},{195,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_lateral0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{197,129}</string>
                <key>spriteSourceSize</key>
                <string>{197,139}</string>
                <key>textureRect</key>
                <string>{{204,220},{197,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_lateral0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{197,129}</string>
                <key>spriteSourceSize</key>
                <string>{197,139}</string>
                <key>textureRect</key>
                <string>{{204,220},{197,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_lateral0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{197,129}</string>
                <key>spriteSourceSize</key>
                <string>{197,139}</string>
                <key>textureRect</key>
                <string>{{204,220},{197,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_lateral0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{195,133}</string>
                <key>spriteSourceSize</key>
                <string>{197,139}</string>
                <key>textureRect</key>
                <string>{{730,129},{195,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_lateral0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{195,133}</string>
                <key>spriteSourceSize</key>
                <string>{197,139}</string>
                <key>textureRect</key>
                <string>{{730,129},{195,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_lateral0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{191,139}</string>
                <key>spriteSourceSize</key>
                <string>{197,139}</string>
                <key>textureRect</key>
                <string>{{730,264},{191,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_lateral0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{191,139}</string>
                <key>spriteSourceSize</key>
                <string>{197,139}</string>
                <key>textureRect</key>
                <string>{{730,264},{191,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_lateral0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{191,139}</string>
                <key>spriteSourceSize</key>
                <string>{197,139}</string>
                <key>textureRect</key>
                <string>{{730,264},{191,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_lateral0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{195,133}</string>
                <key>spriteSourceSize</key>
                <string>{197,139}</string>
                <key>textureRect</key>
                <string>{{730,129},{195,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_lateral0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{195,133}</string>
                <key>spriteSourceSize</key>
                <string>{197,139}</string>
                <key>textureRect</key>
                <string>{{730,129},{195,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_vertical0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{200,129}</string>
                <key>spriteSourceSize</key>
                <string>{204,133}</string>
                <key>textureRect</key>
                <string>{{509,125},{200,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_vertical0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{200,129}</string>
                <key>spriteSourceSize</key>
                <string>{204,133}</string>
                <key>textureRect</key>
                <string>{{509,125},{200,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_vertical0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{200,129}</string>
                <key>spriteSourceSize</key>
                <string>{204,133}</string>
                <key>textureRect</key>
                <string>{{509,125},{200,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_vertical0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{200,131}</string>
                <key>spriteSourceSize</key>
                <string>{204,133}</string>
                <key>textureRect</key>
                <string>{{2,212},{200,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_vertical0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{200,131}</string>
                <key>spriteSourceSize</key>
                <string>{204,133}</string>
                <key>textureRect</key>
                <string>{{2,212},{200,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_vertical0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,133}</string>
                <key>spriteSourceSize</key>
                <string>{204,133}</string>
                <key>textureRect</key>
                <string>{{206,85},{200,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_vertical0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,133}</string>
                <key>spriteSourceSize</key>
                <string>{204,133}</string>
                <key>textureRect</key>
                <string>{{206,85},{200,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_vertical0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,133}</string>
                <key>spriteSourceSize</key>
                <string>{204,133}</string>
                <key>textureRect</key>
                <string>{{206,85},{200,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_vertical0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{200,131}</string>
                <key>spriteSourceSize</key>
                <string>{204,133}</string>
                <key>textureRect</key>
                <string>{{2,212},{200,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_vertical0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{200,131}</string>
                <key>spriteSourceSize</key>
                <string>{204,133}</string>
                <key>textureRect</key>
                <string>{{2,212},{200,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_vertical0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{200,129}</string>
                <key>spriteSourceSize</key>
                <string>{204,133}</string>
                <key>textureRect</key>
                <string>{{509,125},{200,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_vertical0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{200,129}</string>
                <key>spriteSourceSize</key>
                <string>{204,133}</string>
                <key>textureRect</key>
                <string>{{509,125},{200,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_vertical0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{200,129}</string>
                <key>spriteSourceSize</key>
                <string>{204,133}</string>
                <key>textureRect</key>
                <string>{{509,125},{200,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_vertical0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{202,125}</string>
                <key>spriteSourceSize</key>
                <string>{204,133}</string>
                <key>textureRect</key>
                <string>{{730,2},{202,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_vertical0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{202,125}</string>
                <key>spriteSourceSize</key>
                <string>{204,133}</string>
                <key>textureRect</key>
                <string>{{730,2},{202,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_vertical0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{204,121}</string>
                <key>spriteSourceSize</key>
                <string>{204,133}</string>
                <key>textureRect</key>
                <string>{{524,2},{204,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_vertical0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{204,121}</string>
                <key>spriteSourceSize</key>
                <string>{204,133}</string>
                <key>textureRect</key>
                <string>{{524,2},{204,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_vertical0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{204,121}</string>
                <key>spriteSourceSize</key>
                <string>{204,133}</string>
                <key>textureRect</key>
                <string>{{524,2},{204,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_vertical0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{202,125}</string>
                <key>spriteSourceSize</key>
                <string>{204,133}</string>
                <key>textureRect</key>
                <string>{{2,85},{202,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accel_vertical0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{202,125}</string>
                <key>spriteSourceSize</key>
                <string>{204,133}</string>
                <key>textureRect</key>
                <string>{{2,85},{202,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonLabelAction.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{58,48}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{668,455},{58,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonLabelBaloon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{51,49}</string>
                <key>spriteSourceSize</key>
                <string>{53,51}</string>
                <key>textureRect</key>
                <string>{{851,591},{51,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonLabelCheckMark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{51,45}</string>
                <key>spriteSourceSize</key>
                <string>{53,47}</string>
                <key>textureRect</key>
                <string>{{904,591},{51,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonLabelDash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{904,638},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonLabelExclamationMark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{17,51}</string>
                <key>spriteSourceSize</key>
                <string>{19,53}</string>
                <key>textureRect</key>
                <string>{{711,125},{17,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonLabelEye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{54,33}</string>
                <key>spriteSourceSize</key>
                <string>{56,35}</string>
                <key>textureRect</key>
                <string>{{463,405},{54,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonLabelFlame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{37,45}</string>
                <key>spriteSourceSize</key>
                <string>{39,47}</string>
                <key>textureRect</key>
                <string>{{463,358},{37,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonLabelHand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{49,52}</string>
                <key>spriteSourceSize</key>
                <string>{51,54}</string>
                <key>textureRect</key>
                <string>{{891,540},{49,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonLabelPin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{950,537},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonLabelRefresh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{50,53}</string>
                <key>spriteSourceSize</key>
                <string>{52,55}</string>
                <key>textureRect</key>
                <string>{{950,485},{50,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonLabelSearch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{47,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,51}</string>
                <key>textureRect</key>
                <string>{{957,591},{47,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonLabelSettings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{53,53}</string>
                <key>textureRect</key>
                <string>{{798,547},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonLabelStar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{62,58}</string>
                <key>textureRect</key>
                <string>{{668,397},{60,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonLabelTip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,57}</string>
                <key>spriteSourceSize</key>
                <string>{53,57}</string>
                <key>textureRect</key>
                <string>{{891,485},{53,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dedo_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,82}</string>
                <key>spriteSourceSize</key>
                <string>{57,82}</string>
                <key>textureRect</key>
                <string>{{934,2},{57,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dedo_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,63}</string>
                <key>spriteSourceSize</key>
                <string>{77,63}</string>
                <key>textureRect</key>
                <string>{{813,405},{77,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyDown0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{934,61},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyDown0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{927,236},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyLeft0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{923,319},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyLeft0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{923,402},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyNaked0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{403,275},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyNaked0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{380,358},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyRight0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{2,482},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyRight0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{85,482},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keySpace0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,81}</string>
                <key>spriteSourceSize</key>
                <string>{259,81}</string>
                <key>textureRect</key>
                <string>{{2,2},{259,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keySpace0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,81}</string>
                <key>spriteSourceSize</key>
                <string>{259,81}</string>
                <key>textureRect</key>
                <string>{{263,2},{259,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyUp0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{502,397},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyUp0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{380,441},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roundButtonBody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,90}</string>
                <key>spriteSourceSize</key>
                <string>{92,90}</string>
                <key>textureRect</key>
                <string>{{927,144},{92,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roundButtonTransparent0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,93}</string>
                <key>spriteSourceSize</key>
                <string>{99,93}</string>
                <key>textureRect</key>
                <string>{{408,85},{99,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roundButtonTransparent0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{95,93}</string>
                <key>spriteSourceSize</key>
                <string>{99,93}</string>
                <key>textureRect</key>
                <string>{{408,180},{95,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seta_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,28}</string>
                <key>spriteSourceSize</key>
                <string>{19,28}</string>
                <key>textureRect</key>
                <string>{{700,256},{19,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seta_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,21}</string>
                <key>spriteSourceSize</key>
                <string>{15,21}</string>
                <key>textureRect</key>
                <string>{{711,178},{15,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>squareButtonBody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{76,75}</string>
                <key>spriteSourceSize</key>
                <string>{78,77}</string>
                <key>textureRect</key>
                <string>{{813,470},{76,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>squareButtonTransparent0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{585,397},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>squareButtonTransparent0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{730,405},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>input.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:935881054910f8b5d80b03a8c014a021:40004d84602940d37d0616451f7cbffe:6a01e16181a1fd16826e9db02fbc2741$</string>
            <key>textureFileName</key>
            <string>input.png</string>
        </dict>
    </dict>
</plist>
