<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_01_instrucoes.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1063,838}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1063,838}}</string>
                <key>sourceSize</key>
                <string>{1063,838}</string>
            </dict>
            <key>background_02_instrucoes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,737},{1019,816}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1019,816}}</string>
                <key>sourceSize</key>
                <string>{1019,816}</string>
            </dict>
            <key>btn_next_instrucoes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,1515},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>btn_sair_instrucoes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,842},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>btp_next_instrucoes.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1957},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>btp_sair_instrucoes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,875},{28,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{28,25}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>degrade_instrucoes.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{1024,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,441}}</string>
                <key>sourceSize</key>
                <string>{1024,441}</string>
            </dict>
            <key>layer_instrucoes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,2},{961,733}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{961,733}}</string>
                <key>sourceSize</key>
                <string>{961,733}</string>
            </dict>
            <key>pd_btn_audio_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1946},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>pd_btn_audio_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1852},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>pd_btn_close_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,933},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>pd_btn_close_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,836},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>pd_btn_dica_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,737},{97,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{97,100}}</string>
                <key>sourceSize</key>
                <string>{99,100}</string>
            </dict>
            <key>pd_btn_dica_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,1030},{95,96}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{95,96}}</string>
                <key>sourceSize</key>
                <string>{99,100}</string>
            </dict>
            <key>pd_btn_menu_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,1758},{196,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,77}}</string>
                <key>sourceSize</key>
                <string>{196,77}</string>
            </dict>
            <key>pd_btn_menu_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,1758},{196,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,77}}</string>
                <key>sourceSize</key>
                <string>{196,77}</string>
            </dict>
            <key>pd_btn_muted_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1758},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>pd_btn_muted_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,1612},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>pd_btn_naked_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,1418},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>pd_btn_naked_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,1321},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>pd_btn_pause_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,1224},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>pd_btn_pause_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,1127},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>pd_btn_restart_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,1851},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>pd_btn_restart_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,1758},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>pd_btn_resume_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,1956},{80,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,79}}</string>
                <key>sourceSize</key>
                <string>{80,79}</string>
            </dict>
            <key>pd_btn_resume_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,1957},{80,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,79}}</string>
                <key>sourceSize</key>
                <string>{80,79}</string>
            </dict>
            <key>pd_btn_tutorial_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,1758},{197,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,77}}</string>
                <key>sourceSize</key>
                <string>{197,77}</string>
            </dict>
            <key>pd_btn_tutorial_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1758},{197,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,77}}</string>
                <key>sourceSize</key>
                <string>{197,77}</string>
            </dict>
            <key>pd_pause_interface.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1758},{247,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,768}}</string>
                <key>sourceSize</key>
                <string>{247,768}</string>
            </dict>
            <key>stage_instrucoes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,902},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>txt_instrucoes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,1705},{309,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,85}}</string>
                <key>sourceSize</key>
                <string>{309,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menus.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4b15639cdf59fb004f29e3a461fbce0$</string>
            <key>textureFileName</key>
            <string>menus.png</string>
        </dict>
    </dict>
</plist>
